<section class="edit-user">
  <app-page-header title="Edit User"></app-page-header>
  <div class="container form-container" *ngIf="userId && userDetails">
    <form>
      <label>Name:</label>
      <input
        [(ngModel)]="userDetails.name"
        required
        [ngModelOptions]="{ standalone: true }"
      />
      <label>Email:</label>
      <input
        [(ngModel)]="userDetails.email"
        required
        type="email"
        [ngModelOptions]="{ standalone: true }"
      />
      <label>Phone:</label>
      <input
        [(ngModel)]="userDetails.phone"
        required
        type="tel"
        [ngModelOptions]="{ standalone: true }"
      />
      <label>Address: </label>
      <textarea
        [(ngModel)]="userDetails.address"
        [ngModelOptions]="{ standalone: true }"
      ></textarea>

      <button type="submit" (click)="save()">Save</button>
    </form>
  </div>
</section>
